.slider_dot.active_dot {
  background-color: var(--brand-color-blue-1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slider_dot {
  background-color: var(--brand-white);
  border: 2px solid var(--brand-color-blue-1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slider_dot:hover {
  background-color: var(--brand-color-blue-1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
