.section {
  width: 1920px;
}
.title {
  margin-top: 50px;
  color: var(--brand-color-black);
  font-family: Museo Sans Cyrl, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.photoBlock {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.cartImg {
}
.cartImg:hover {
  .img {
    transform: scale(1.1);
    transition: 3s;
  }
}
.img {
  box-sizing: border-box;
  border: 1px solid var(--brand-color-gray-2);
  border-radius: 10px;
}
&.img:hover {
  transform: scale(1.1);
  transition: 3s;
}

.wrapper {
  position: relative;
  padding-top: 40px;
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 8px;
  /* ---------------- */
}
/* ------------------- */
/* -------- */
.block_arrow_bottom {
  width: 1110px;
  bottom: -50px;
  position: absolute;
  /* inset: 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
